:root {
  --background-color: #555570; 
  --text-color: #FFFFFF; 
  --primary-color: #7775D9; 
  --secondary-color: #555570; 
  --border-color: #7775D9;
  --hover-background-color: #555570; 
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.landing-content {
  text-align: center;
  color: var(--text-color);
  max-width: 600px;
}

.landing-title {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease forwards;
}

.landing-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease forwards;
}

.button-container {
  display: flex;
  justify-content: center;
  animation: fadeIn 1s ease forwards;
}

.btn-primary {
  padding: 12px 30px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.btn-secondary {
  padding: 12px 30px;
  margin: 0 10px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
  background-color: var(--hover-background-color);
  transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
