html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the main window */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the app fill the full viewport height */
  width: 100vw; /* Make the app fill the full viewport width */
  overflow: hidden; /* Prevent scrolling within the App */
}

/* If you have a header or navigation you don't want to be full screen,
   you will need to adjust the .App-body height accordingly. */
.App-body {
  flex-grow: 1; /* Take up all available space */
  overflow: auto; /* Scroll inside App-body if needed */
}

/* Style for full screen components */
.fullscreen-component {
  height: 100%; /* Set the height of the components to 100% of their container */
  overflow: auto; /* Allow scrolling within the component if needed */
}
