:root {
  --primary-color: #00B4D8;
  --secondary-color: #90E0EF;
  --background-color: #F1F5F9; 
  --button-bg-color: #0077B6; 
  --button-text-color: #FFFFFF;
  
  
  --border-color: #00B4D8;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --border-radius: 8px;
  --monospace-font-family: 'Fira Code', 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}



.App-header {
  display: grid;
  gap: var(--spacing-medium);
  align-items: center;
  padding: var(--spacing-medium);
  color: var(--button-text-color);
}

.Language-select-container, .action-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.Language-select, .option-button {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-medium);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid transparent; 
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease; 
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Language-select:hover, .option-button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: scale(1.05); 
  border-color: var(--secondary-color);
}

.Run-button:disabled {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  opacity: 0.5;
  cursor: not-allowed;
}


.App-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
}

.left-column, .right-column {
  flex: 1;
}

.Editor2, .Output-area {
  background-color: var(--output-bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-small);
  min-height: 510px;
}

.Statistics-area {
  background-color: var(--stat-box-background);
  color: var(--stat-value-color);
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
  margin-top: var(--spacing-medium);
}

.Stat-box {
  text-align: center;
  padding: var(--spacing-small);
}

.Stat-title, .Stat-value {
  margin: 0;
}

@media (min-width: 768px) {
  .App-body {
    flex-direction: row;
  }
  .App-header {
    grid-template-columns: repeat(2, 1fr);
  }

  .left-column, .right-column {
    flex: 1;
    min-width: 0; /* Fix for flexbox overflow */
  }

  .Statistics-area {
    display: flex;
    justify-content: space-around;
  }

  .Stat-box {
    flex: 1;
  }
  .Editor2, .Output-area {
    background-color: var(--output-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    min-height: 200px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .App-header {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    
  }
  .Language-select{
    width: 300%;
    
  }
  .Language-select-container, .action-buttons {
    flex-direction: column;
  }

  .Language-select, .option-butt, .Run-button, .Import-button {
    width: 100%;
    text-align: center;
  }
  .Editor2, .Output-area {
    background-color: var(--output-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    min-height: 200px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .Stat-container {
    flex-direction: column;
  }
  .option-butt, .Run-button, .Import-button {
    margin-top: 15px;
  }
  .Language-select {
    margin-bottom: -15px;
  }
  .App-header {
    flex-direction: column;
    gap: var(--spacing-small);
  }
  .Output-area, .Editor {
    min-height: 50px;
  }
  .Language-select-container, .same-line {
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-medium);
  }
  .Language-select, .option-butt, .Run-button, .Import-button {
    width: 100%;
  }
  .Editor2, .Output-area {
    background-color: var(--output-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    min-height: 200px;
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .App-header {
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
  }

  .Language-select-container, .same-line {
    flex-wrap: wrap;
    justify-content: center;
  }
  
   .option-butt, .Run-button, .Import-button {
    flex-grow: 1;
    margin: var(--spacing-small);
  }
  .Editor2, .Output-area {
    background-color: var(--output-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    min-height: 230px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  .App-header {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .Editor2, .Output-area {
    background-color: var(--output-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    min-height: 200px;
    margin-bottom: 10px;
  }
}